@import url('https://fonts.googleapis.com/css?family=Raleway:400,600');
@import "strokegap/style";
@import "font-awesome";
@import "linearicons/style";
@import "bootstrap";
@import "slick-carousel/slick/slick";
@import "fancybox/dist/jquery.fancybox.min";
@import "animate/animate.min";

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.875em;
    color: #5a6671;
    font-weight: 400;
    overflow-x: hidden;
}

*:focus {
    outline: none;
}

img {
    max-width: 100%;
}

h1, h2, h4, .h1 {
    font-family: 'Raleway', sans-serif;
    color: #796aad;
    line-height: 1.37em;
    font-weight: 600;
}

h1, .h1 {
    font-size: 40px;
}

@media (max-width: 767px) {
    h1, .h1 {
        font-size: 30px;
    }
}

h2 {
    font-size: 25px;
}

@media (max-width: 767px) {
    h2 {
        font-size: 28px;
    }
}

h4 {
    font-size: 24px;
}

.header {
    background: #fff;
}

a {
    color: inherit;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea {
    font-family: "Open Sans", sans-serif;
}

strong {
    font-weight: 600;
    color: #273f59;
}

sup {
    top: -1.3em;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    z-index: 10;
}

@media (max-width: 991px) {
    section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

input, textarea {
    border: 1px solid #e9eff5;
    padding: 9px 30px;
    border-radius: 4px;
    width: 100%;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: #8ea4b8;
    font-size: 1rem;
    opacity: 1;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: #8ea4b8;
    font-size: 1rem;
    opacity: 1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #8ea4b8;
    font-size: 1rem;
    opacity: 1;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #8ea4b8;
    font-size: 1rem;
    opacity: 1;
}

@media (max-width: 767px) {
    .display-4 {
        font-size: 2.5rem;
    }
}

.hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    -o-transition-property: opacity, filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -1px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 1px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
    -o-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -9px;
}

.hamburger-inner::after {
    bottom: -9px;
}

.hamburger--spin .hamburger-inner {
    -webkit-transition-duration: 0.22s;
    -o-transition-duration: 0.22s;
    transition-duration: 0.22s;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner::before {
    -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    -o-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner::after {
    -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.header {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.05), 0 2px 5px 0 rgba(0,0,0,.05);
    background: #796aac;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.navbar-brand {
    position: relative;
}

.logo-inverse {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
}

.is-scrolling .hamburger-inner, .is-scrolling .hamburger-inner::before, .is-scrolling .hamburger-inner::after {
    background-color: #000;
}

.is-scrolling .fixed-top {
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.is-scrolling .navbar-toggler {
    color: #54667a;
}

.is-scrolling .header-inverse {
    background: #f1f1f1;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.05), 0 2px 5px 0 rgba(0,0,0,.05);
}

.is-scrolling .header-inverse .nav-link {
    color: #7a6aad;
}

.is-scrolling .header-shrink {
    padding-top: 8px;
    padding-bottom: 8px;
}

.is-scrolling .logo-default {
    opacity: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.is-scrolling .logo-inverse {
    opacity: 1;
}

.logo-brand-color {
    color: #cfe8f4;
}

.logo-brand-color-inverse {
    color: #7a6aad;
}

.logo-brand-footer {
    color: #262723;
}

.navbar-nav > .nav-item {
    margin-left: 15px;
}

.navbar-nav > .nav-item > .nav-link {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.navbar-nav > .nav-item > .nav-link:hover {
    color: #46CA9B;
}

.navbar-toggler {
    color: #fff;
    position: relative;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler * {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.header-inverse {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.header-inverse .nav-link {
    color: #cfe8f4;
}

@media (max-width: 991px) {
    #navbarNav {
        background: #fff;
        max-height: 100vh;
        padding: 20px;
        overflow: auto;
    }

    #navbarNav .nav-link {
        color: #54667a;
    }
}

.social a {
    width: 45px;
    height: 45px;
    background: rgba(255, 255, 255, 0.1);
    display: block;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    line-height: 45px;
}

.social a:hover {
    background: #000;
}

.social.social-white a {
    background: #fff;
    color: #2b335e;
}

.social.social-white a:hover {
    color: #824398;
}

.social-rounded a {
    border-radius: 50%;
}

.scroll-top {
    bottom: 20px;
    font-size: 20px;
    height: 40px;
    position: fixed;
    text-align: center;
    width: 40px;
    z-index: 10;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border-radius: 50%;
    line-height: 40px;
    right: -100px;
}

.btn {
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px !important;
}

.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-rounded {
    border-radius: 100em;
}

.btn-white {
    background: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    color: #597187 !important;
}

.btn-white:hover {
    background: #455768;
    color: #fff !important;
}

.btn-yellow {
    background: #FFE4AA;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    color: #824398 !important;
}

.btn-yellow:hover {
    background: #F5D690;
    color: #824398;
}

.btn-green {
    background: #4FB287;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    color: #fff !important;
}

.btn-green:hover {
    background: #4B9877;
    color: #fff;
}

.accordion__faq {
    border-bottom: 1px solid #eaecef;
}

.accordion__title {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: #273f59;
    font-weight: 600;
    display: block;
}

.accordion__title > i {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.accordion__text {
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}

.tabs-v1 .bg-white {
    color: #505050;
}

.tabs-v2 {
    background: #fff;
    border-radius: 100em;
    border-bottom: none;
}

@media (max-width: 767px) {
    .tabs-v2 {
        display: block !important;
        border-radius: 0 !important;
    }
}

.tabs-v2 > .nav-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.tabs-v2 .nav-link {
    border-radius: 100em;
    text-align: center;
    padding: 10px;
}

.tabs-v2 .nav-link.active {
    background: #8369db;
    color: #fff;
}

/***************************WordPress Default Widget style
/***************************/

.u-ff-dosis {
    font-family: 'Raleway', sans-serif;
}

.u-of-hidden {
    overflow: hidden;
}

.u-rounded-15 {
    border-radius: 15px !important;
}

.u-rounded-50 {
    border-radius: 1000em;
}

.box-shadow-v1 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.05), 0 2px 5px 0 rgba(0,0,0,.02) !important;
}

.box-shadow-v2 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.05), 0 2px 5px 0 rgba(0,0,0,.05);
}

.box-shadow-v3 {
    -webkit-box-shadow: 0 5px 50px 0 rgba(22, 104, 183, 0.05);
    box-shadow: 0 5px 50px 0 rgba(22, 104, 183, 0.05);
}

.u-w-50 {
    width: 3.125rem !important;
}

.u-w-90 {
    width: 5.625rem !important;
}

.u-w-170 {
    width: 10.625rem !important;
}

.u-h-100vh {
    min-height: 100vh !important;
}

.u-h-100p {
    height: 100% !important;
}

.u-h-4 {
    height: 0.25rem;
}

.u-h-90 {
    height: 5.625rem;
}

.u-fw-400 {
    font-weight: 400;
}

.u-fw-600 {
    font-weight: 600;
}

.u-p-25 {
    padding: 1.5625rem !important;
}

.u-pt-80 {
    padding-top: 5rem !important;
}

.u-py-40 {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
}

.u-py-100 {
    padding-top: 6.25rem !important;
    padding-bottom: 6.25rem !important;
}

.u-py-40 {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
}

.u-py-100 {
    padding-top: 6.25rem !important;
    padding-bottom: 6.25rem !important;
}

@media (min-width: 768px) {
    .u-pt-md-150 {
        padding-top: 2rem !important;
    }
}

.u-lh-1_8 {
    line-height: 1.8 !important;
}

.u-lh-2 {
    line-height: 2 !important;
}

.u-flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bg-black {
    background: #000 !important;
}

.bg-white {
    background: #fff !important;
}

.bg-black {
    background: #1e1e1e !important;
}

.bg-purple {
    background: #7a6aad !important;
}

.bg-yellow {
    background: #FFE4AA !important;
}

.bg-green {
    background: #38d996 !important;
}
.bg-main-1{
	background:url(software/bg-2.jpg) no-repeat fixed;
	background-size:cover
}
.text-white {
    color: #fff !important;
}

.text-primary {
    color: #7a6aae !important;
}

.text-purple {
    color: #6f4aa2 !important;
}

.text-green {
    color: #7a6aad !important;
}

.bg-primary {
    background: #8269da !important;
}

.bg-grey {
    background: #F8F9FB !important;
}

.color-primary {
    color: #4FB287 !important;
}

.color-white {
    color: #fff !important;
}

.text-muted {
    color: #7b8697 !important;
}

.bg-gray-v1 {
    background: #F3F6FB;
}

a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
    background-color: #8269da !important;
}

.u-fs-20 {
    font-size: 1.25rem !important;
}

.u-fs-22 {
    font-size: 1.375rem !important;
}

.u-fs-26 {
    font-size: 1.625rem !important;
}

.u-fs-28 {
    font-size: 1.75rem !important;
}

.u-fs-36 {
    font-size: 2.25rem !important;
}

.u-fs-42 {
    font-size: 2.625rem !important;
}

.u-fs-48 {
    font-size: 3rem !important;
}

.u-fs-60 {
    font-size: 3.75rem !important;
}

.u-mt-30 {
    margin-top: 1.875rem !important;
}

.u-mt-60 {
    margin-top: 3.75rem !important;
}

.u-mt-80 {
    margin-top: 5rem !important;
}

.u-mb-15 {
    margin-bottom: 0.9375rem !important;
}

.u-mb-20 {
    margin-bottom: 1.25rem !important;
}

.u-mb-30 {
    margin-bottom: 1.875rem !important;
}

.u-mb-40 {
    margin-bottom: 2.5rem !important;
}

.u-my-40 {
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important;
}

.tab__slider > .tab-pane {
    display: block;
    height: 0;
    overflow: visible;
}

.tab__slider > .active {
    height: auto;
}

.form-control {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.input-group .form-control {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

a.bg-primary:hover {
    background-color: #8369db !important;
}

.slick-arrow {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 24px;
    padding: 5px;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.slick-arrow:hover {
    background: #824398;
    color: #fff;
}

.slick-prev {
    left: -70px;
}

.slick-next {
    right: -70px;
}

.slick-dots {
    padding: 0;
    list-style: none;
}

.slick-dots > li {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}

.slick-dots > li > span {
    width: 12px;
    height: 12px;
    border-radius: 20px;
    background: rgba(0, 129, 255, 0.5);
    display: block;
    border: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
}

.slick-dots > li.slick-active > span {
    width: 22px;
    background: #38D996;
}

.slick-dots.dots-white > li > span {
    background: rgba(255, 255, 255, 0.7);
}

.slick-dots.dots-white > li.slick-active span {
    background: #fff;
}

.slick-dots.dots-green > li > span {
    background: rgba(44, 212, 74, 0.7);
}

.slick-dots.dots-green > li.slick-active span {
    background: #192369;
}

.box {
    border-top: 7px outset #745cc5;
    border-right: 7px outset #755bc6;
    border-bottom: 7px outset #7c64ce;
    border-left: 7px outset #755bc4;
}
