<div class="modal" id="myModal" tabindex"-1" role="dialog" aria-hidden="true" backdrop="false">
                              <div class="modal-dialog">
                                 <div class="modal-content">
                                    <div class="color-line"></div>
                                    <div class="modal-header text-center">
                                       <h4 class="modal-title">ΞtherGem
                                       <div class="u-h-4 u-w-50 bg-primary rounded mt-4 u-mb-xd mx-auto"></div>
                                       Eras
                                       </h4>
                                       <small class="font-bold">A foundational currency platform with an integrated subchain.</small>
                                    </div>
                                    <div class="modal-body">
                                      <ul style="list-style-type:none">
                                      <li>Era: 0</li>
                                      <li>Block: 5000 - 2,500,000</li>
                                      <li>Reward: 8 EGEM Block reward + 1</li>
                                      <li>Dev fee: 1 EGEM per block.</li>
                                  </ul>
                                    <ul style="list-style-type:none">
                                      <li>Era:1</li>
                                      <li>Block: 2,500,001 - 5,000,000</li>
                                      <li>Reward: 4 EGEM Block reward + 0.75</li>
                                      <li>Dev fee: 0.75 EGEM per block.</li>
                                    </ul>
                                    <ul style="list-style-type:none">
                                      <li>Era:2</li>
                                      <li>Block: 5,000,001 - 7,500,000</li>
                                      <li>Reward: 2 EGEM Block reward + 0.5</li>
                                      <li>Dev fee: 0.5 EGEM per block.</li>
                                    </ul>
                                    <ul style="list-style-type:none">
                                      <li>Era:3</li>
                                      <li>Block: 7,500,001 - 10,000,000</li>
                                      <li>Reward: 1 EGEM Block reward + 0.25</li>
                                      <li>Dev fee: 0.25 EGEM per block.</li>
                                    </ul>
                                    <ul style="list-style-type:none">
                                      <li>Era:4</li>
                                      <li>Block: 10,000,001 - 12,500,000</li>
                                      <li>Reward: 0.5 EGEM Block reward + 0.1</li>
                                      <li>Dev fee: 0.1 EGEM per block.</li>
                                    </ul>
                                    <ul style="list-style-type:none">
                                      <li>Era:5</li>
                                      <li>Block: 12,500,001 - 15,000,000</li>
                                      <li>Reward: 0.25 EGEM Block reward + 0.05</li>
                                      <li>Dev fee: 0.05 EGEM per block.</li>
                                    </ul>
                                    <ul style="list-style-type:none">
                                      <li>Era:6</li>
                                      <li>Block: 15,000,001+</li>
                                      <li>Reward: 0.125 EGEM Block reward + 0.025</li>
                                      <li>Dev fee: 0.025 EGEM per block.</li>
                                    </ul>
                                    </div>
                                    <div class="modal-footer">
                                       <button type="button" class="button" data-dismiss="modal">Close</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
