<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                              <div class="modal-dialog">
                                 <div class="modal-content">
                                    <div class="color-line"></div>
                                    <div class="modal-header text-center">
                                       <h4 class="modal-title">ΞtherGem Eras</h4>
                                       <small class="font-bold">A foundational currency platform with an integrated subchain.</small>
                                    </div>
                                    <div class="modal-body">
                                      <p1>Era: 0</p1>
                                      <p1>Block: 5000 - 2,500,000</p1>
                                      <p1>Reward: 8 EGEM Block reward + 1</p1>
                                      <p1>Dev fee: 1 EGEM per block.</p1>
                                     <div class="u-h-4 u-w-50 bg-primary rounded mt-10 u-mb-20 mx-auto"></div>
                                      <p1>Era:1</p1>
                                      <p1>Block: 2,500,001 - 5,000,000</p1>
                                      <p1>Reward: 4 EGEM Block reward + 0.75</p1>
                                      <p1>Dev fee: 0.75 EGEM per block.</p1>
                                     <div class="u-h-4 u-w-50 bg-primary rounded mt-10 u-mb-20 mx-auto"></div>
                                      <p1>Era:2</p1>
                                      <p1>Block: 5,000,001 - 7,500,000</p1>
                                      <p1>Reward: 2 EGEM Block reward + 0.5</p1>
                                      <p1>Dev fee: 0.5 EGEM per block.</p1>
                                     <div class="u-h-4 u-w-50 bg-primary rounded mt-10 u-mb-20 mx-auto"><div>
                                      <p1>Era:3</p1>
                                      <p1>Block: 7,500,001 - 10,000,000</p1>
                                      <p1>Reward: 1 EGEM Block reward + 0.25</p1>
                                      <p1>Dev fee: 0.25 EGEM per block.</p1>
                                     <div class="u-h-4 u-w-50 bg-primary rounded mt-10 u-mb-20 mx-auto"><div>
                                      <p1>Era:4</p1>
                                      <p1>Block: 10,000,001 - 12,500,000</p1>
                                      <p1>Reward: 0.5 EGEM Block reward + 0.1</p1>
                                      <p1>Dev fee: 0.1 EGEM per block.</p1>
                                     <div class="u-h-4 u-w-50 bg-primary rounded mt-10 u-mb-20 mx-auto"><div>
                                      <p1>Era:5</p1>
                                      <p1>Block: 12,500,001 - 15,000,000</p1>
                                      <p1>Reward: 0.25 EGEM Block reward + 0.05</p1>
                                      <p1>Dev fee: 0.05 EGEM per block.</p1>
                                     <div class="u-h-4 u-w-50 bg-primary rounded mt-10 u-mb-20 mx-auto"><div>
                                      <p1>Era:6</p1>
                                      <p1>Block: 15,000,001+</p1>
                                      <p1>Reward: 0.125 EGEM Block reward + 0.025</p1>
                                      <p1>Dev fee: 0.025 EGEM per block.</p1>
                                     <div class="u-h-4 u-w-50 bg-primary rounded mt-10 u-mb-20 mx-auto"><div>
                                    </div>
                                    <div class="modal-footer">
                                       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                       <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
