<footer>
<section class="bg-gray-v1">
   <div class="container">
      <div class="row">
         <div class="col-lg-4 mb-5 mb-lg-0">
            <h2 class="logo-brand-footer">Ξthergem</h2>
            <p class="u-my-40">
            <h4>Got any problems?</h4>
              If you got any problems, please contact us over email or discord.
            </p>
            <form class="form-inline">
               <div class="input-group box-shadow-v1 u-rounded-50 bg-white u-of-hidden">
                  <div class="input-group-addon bg-white border-0 pl-4 pr-0">
               </div>
                  <input type="text" class="form-control border-0 p-3" placeholder="Enter your email">
                  <button type="submit" class="input-group-btn btn bg-white">
                  <span class="icon icon-Arrow text-primary"></span>
                  </button>
               </div>
            </form>
         </div>
         <div class="col-lg-2 col-md-6 ml-auto mb-5 mb-lg-0">
            <h4>Useful Links</h4>
            <div class="u-h-4 u-w-50 bg-primary rounded mt-3 u-mb-40"></div>
            <ul class="list-unstyled u-lh-2">
               <li><span class="fa fa-users text-primary mr-2"></span><a href="https://forum.egem.io"> News and Forum</a> </li>
               <li><span class="fa fa-envelope text-primary mr-2"></span><a href="mailto:info@egem.io"> Contact Us</a></li>
               <li><span class="fa fa-cube text-primary mr-2"></span><a href="https://pool.egem.io"> Dev mining pool</a> </li>
            </ul>
         </div>
         <div class="col-lg-3 col-md-6 ml-auto mb-5 mb-lg-0">
            <h4>Contact Info</h4>
            <div class="u-h-4 u-w-50 bg-primary rounded mt-3 u-mb-40"></div>
            <ul class="list-unstyled">
               <li class="mb-2">
                  <span class="fa fa-envelope text-primary mr-2"></span> <a href="mailto:info@egem.io">info@egem.io</a>
               </li>
               <li class="mb-2">
                  <span class="fa fa-users text-primary mr-2"></span> <a href="https://forum.egem.io">Forum</a>
               </li>
            </ul>
            <ul class="list-inline social social-rounded social-white mt-4">
               <li class="list-inline-item">
                  <a href="https://twitter.com/ETHERGEMCOIN"><i class="fa fa-twitter"></i></a>
               </li>
               <li class="list-inline-item">
                  <a href="https://github.com/TeamEGEM"><i class="fa fa-github"></i></a>
               </li>
               <li class="list-inline-item">
                  <a href="http://discord.egem.io"><i class="fa fa-discord" aria-hidden="true"></i></a>
               </li>
               <li class="list-inline-item">
                  <a href="https://t.me/EGEM_Team"><i class="fa fa-telegram" aria-hidden="true"></i></a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>
<section class="u-py-40 bg-gray-v1">
   <div class="container">
      <p class="mb-0 text-center">
         &copy; Copyright 2018 - <a class="text-primary" href="http://egem.io"">Ξthergem</a>
      </p>
   </div>
</section>
</footer>
